/.project
/.loadpath
/.powrc
/.rvmrc
/config/additional_environment.rb

/config/email.yml
/config/initializers/session_store.rb
/config/initializers/secret_token.rb
/coverage
/db/*.db
/db/*.sqlite3
/db/schema.rb

/files/*
/lib/redmine/scm/adapters/mercurial/redminehelper.pyc
/lib/redmine/scm/adapters/mercurial/redminehelper.pyo
/log/*.log*
/log/mongrel_debug

!/plugins/README
/public/dispatch.*
/public/plugin_assets/*
!/public/themes/*
!/public/themes/alternate
!/public/themes/classic
!/public/themes/README


/vendor/cache
/vendor/rails
*.rbc
/Gemfile.local

