<%= title l(:lable_reject_locked_report) %>
<div id="main-menu1">
  <ul>
    <li>
      <% if params[:tabs] == "reject_report" %>
          <a id="reject_report" href="#" class="reject_report selected">Rejections Report</a>
      <% else %>
          <a id="reject_report" heref="#" class="reject_report">Rejections Report</a>
      <% end %>
    </li>
    <li>
      <% if params[:tabs] == "unlocked_report" %>
          <a id="unlock_report" href="#" class="unlock_report selected">Unlocked Report</a>
      <% else %>
          <a id="unlock_report" href="#" class="unlock_report">Unlocked Report</a>
      <% end %>

    </li>
  </ul>
</div>