<div id='OtherCapacitypopupWindow' title='Other assignments'>
  <div id='OtherCapacitypopupWindowBody'>
    <% if @collect_other_project_capacity.present? %>
    <table border="1">
      <tr>
        <th>Manager</th>
        <th>Utilization(%)</th>
      </tr>
      <% @collect_other_project_capacity.each do |each_member| %>
      <tr>
        <td><%= each_member[:manager] %></td>
        <td><%= each_member[:used_capacity] %></td>
      </tr>
     <% end %>
    </table>
        <% else %>
    <h1>No Utilization assigned..! </h1>
     <% end %>
  </div>
  <div id='OtherCapacitypopupWindowFoot'></div>
</div>