<%  dashboard_helper = Object.new.extend(DashboardHelper) %>
<% watched_issues = dashboard_helper.issueswatched_items(@project.id) %>
<h3>
  <%= link_to l(:label_watched_issues),
        issues_path(:set_filter => 1, :watcher_id => 'me', :sort => 'updated_on:desc') %>
  (<%= watched_issues.count %>)
</h3>

<%= render :partial => 'issues/list_simple', :locals => { :issues => watched_issues } %>
